<!-- auth.component.html -->

<div
  *ngIf="!newAccount"
  class="card mb-4 bg-white d-flex justify-content-center align-items-center"
  style="
    width: 24rem;
    max-width: 90%;
    margin-left: 25rem;
    height: 70vh;
    margin-top: 10vh;
  "
>
  <h2>Login</h2>
  <p>
    Not member yet?
    <a href="#" (click)="createNewAccount()">Register</a>
  </p>
  <input type="text" [(ngModel)]="username" placeholder="Username" />
  <input
    class="mt-3"
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
  />
  <button (click)="login()" class="btn btn-dark mt-3" style="width: 12rem">
    Login
  </button>
  <div
    *ngIf="errorMessageConnexion"
    class="error-message card mb-4 bg-dark text-white"
    style="margin-top: 2rem"
  >
    <p>Identifiant ou mot de passe incorrect</p>
  </div>
</div>

<div
  *ngIf="newAccount"
  class="card mb-4 bg-white d-flex justify-content-center align-items-center"
  style="
    width: 24rem;
    max-width: 90%;
    margin-left: 25rem;
    height: 70vh;
    margin-top: 10vh;
  "
>
  <h2>Register</h2>
  <p>
    Already registered?
    <a href="#" (click)="signIn()">Login</a>
  </p>
  <input type="text" [(ngModel)]="usernameRegister" placeholder="Username" />
  <input
    class="mt-3"
    type="password"
    [(ngModel)]="passwordRegister"
    placeholder="Password"
  />
  <button class="btn btn-dark mt-3" (click)="register()" style="width: 12rem">
    Register
  </button>

  <div
    *ngIf="errorMessage"
    class="error-message card mb-4 bg-dark text-white"
    style="margin-top: 2rem"
  >
    {{ errorMessage }}
  </div>

  <div
    *ngIf="registeredWithSuccess"
    class="error-message card mb-4 bg-dark text-white"
    style="margin-top: 2rem"
  >
    Utilisateur enregistré avec succès
  </div>
</div>
