<div
  class="card mb-4 bg-secondary d-flex justify-content-center"
  style="
    width: 50rem;
    max-width: 90%;
    margin-left: 15rem;
    height: 100vh;
    margin-top: 10vh;
  "
>
  <!-- dashboard.component.html -->
  <div>
    <h2 style="margin-left: 1rem">
      Bienvenue sur le Dashboard, {{ username }} !
    </h2>
  </div>
  <button
    (click)="logOut()"
    style="margin-bottom: 1rem; width: 10rem; margin-left: 39rem"
    class="btn btn-dark"
  >
    Déconnexion
  </button>
  <button
    (click)="directToInfos()"
    style="margin-bottom: 1rem; width: 10rem; margin-left: 39rem"
    class="btn btn-dark"
  >
    Identity Infos
  </button>
  <!-- src/app/components/add-todo/add-todo.component.html -->
  <div class="input-group mb-3" style="margin-left: 1rem">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="title"
      placeholder="Add a new task"
    />
    <button
      class="btn btn-primary"
      (click)="addTodo()"
      style="margin-right: 2rem"
    >
      Add
    </button>
  </div>

  <div
    *ngIf="todos.length > 0; else noTodos"
    class="container"
    style="overflow: auto"
  >
    <h2>To-Do List</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let todo of todos">
        {{ todo.title }}
        <button
          class="btn btn-danger float-right"
          (click)="deleteToDo(todo.id)"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>

  <ng-template #noTodos>
    <p>No ToDos found for this user.</p>
  </ng-template>
</div>
