<!-- accueil.component.html -->
<div>
  <h1 style="margin-left: 1rem">Bienvenue sur admin, {{ username }} !</h1>
</div>

<button (click)="logOut()" class="btn btn-dark" style="margin-left: 1rem">
  Déconnexion
</button>
<h2 style="margin-left: 33%">List of Users</h2>

<div
  *ngIf="users.length > 0"
  class="mb-3 margin-left:10rem d-flex justify-content-center"
>
  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item" style="width: 25rem">
      {{ user.username }}
      <button
        (click)="deleteUser(user.id)"
        class="btn btn-danger"
        style="float: right"
      >
        <i class="bi bi-trash"></i> Delete
      </button>
    </li>
  </ul>
</div>
<div *ngIf="users.length === 0">
  <p>No users found.</p>
</div>
